# DATABASE
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# BACKEND
NESTJS_HOST=
NESTJS_PORT=
NESTJS_42API_BASE=
NESTJS_UID=
NESTJS_SECRET=
NESTJS_SESSION_ID=
NESTJS_SOLAPI_API=
NESTJS_SOLAPI_SECRET=
NESTJS_SOLAPI_SENDER=

# FRONTEND
REACT_APP_BACKEND_HOST=
REACT_APP_BACKEND_PORT=
REACT_APP_HOST=
REACT_APP_PORT=